name: Issue Tracker Bot

on:
  schedule:
    - cron: '*/13 * * * *'  # Runs every 13 minutes
  workflow_dispatch:        # Allows you to click a button to test it manually

jobs:
  run-tracker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Script
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python tracker.py